.advantages br {
  display: none;
}

.advantages__list {
  @include list-reset;
  position: relative;
}

.advantages__causes-wrapper {
  padding: 32px 28px;
}

.advantages__image {
  display: block;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 38px;
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
}

.advantages__item--blue {
  background-color: $blue-color;
}

.advantages__item--pseudo::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 37px;
  left: 0;
  top: -14px;
  background-image: url("../images/flag-2.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.advantages__item-wrapper {
  padding: 54px 18px 42px;
}

.advantages__title--white {
  color: $white-color;
  margin-bottom: 11px;
}

.advantages__number--white {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 17px;
}

.advantages__description--white {
  color: $white-color;
}

.advantages__item-wrapper--housing {
  padding: 30px 18px 25px 65px;
}

.advantages__item-wrapper--food {
  padding: 10px 18px 25px 65px;
}

.advantages__item-wrapper--souvenirs {
  padding: 5px 18px 46px 65px;
}

.advantages__title--left {
  text-align: left;
  margin-bottom: 16px;
}

.advantages__description--left {
  text-align: left;
}

.advantages__item--housing {
  background-image: url("../images/icon-housing-mobile.svg");
  background-repeat: no-repeat;
  background-position: 18px 23px;
}

.advantages__item--food {
  background-image: url("../images/icon-food-mobile.svg");
  background-repeat: no-repeat;
  background-position: 18px 3px;
}

.advantages__item--souvenirs {
  background-image: url("../images/icon-souvenirs-mobile.svg");
  background-repeat: no-repeat;
  background-position: 22px 0;
}

.advantages__item-wrapper--bridge {
  padding: 35px 18px;
}

.advantages__item--dark-white {
  background-color: $dark-white-color;
}

.advantages__item-wrapper--square {
  padding: 24px 26px;
}

.advantages__item-wrapper--road {
  padding: 24px 41px;
}

.advantages__item-wrapper--tourists {
  padding: 24px 32px 28px;
}

.advantages__title--square-road-tourists {
  margin-bottom: 12px;
}

.advantages__number--grey {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin-bottom: 17px;
}

// tablet
@media (min-width: $tablet-width) {
  .advantages br {
    display: block;
  }

  .advantages__item--pseudo::before {
    display: none;
  }

  .advantages__causes-wrapper {
    padding: 47px 124px 55px;
  }

  .advantages__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .advantages__title {
    font-size: 21px;
    margin-bottom: 30px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }

  .advantages__item-wrapper {
    width: 256px;
    box-sizing: border-box;
    padding: 52px 23px 31px;
  }

  .advantages__item-wrapper--bridge {
    padding: 52px 33px 31px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item--blue {
    grid-column: 1/-1;
    flex-wrap: nowrap;
  }

  .advantages__item--reverse {
    flex-direction: row-reverse;
  }

  .advantages__title--white {
    margin-bottom: 11px;
  }

  .advantages__number--white,
  .advantages__number--grey {
    margin-bottom: 27px;
  }

  .advantages__item-wrapper--housing {
    padding: 158px 33px 60px;
  }

  .advantages__item-wrapper--food {
    padding: 156px 50px 61px;
  }

  .advantages__item-wrapper--souvenirs {
    padding: 152px 43px 64px;
  }

  .advantages__title--left {
    text-align: center;
    margin-bottom: 20px;
  }

  .advantages__description--left {
    text-align: center;
  }

  .advantages__item--housing {
    background-image: url("../images/icon-housing-tablet.svg");
    background-position: 88px 60px;
  }

  @media (min-resolution: 2dppx) {
    .advantages__item--housing {
      background-image: url("../images/icon-housing-tablet@2x.svg");
      background-size: 768px auto;
    }
  }

  .advantages__item--food {
    background-image: url("../images/icon-food-tablet.svg");
    background-position: 87px 62px;
  }

  @media (min-resolution: 2dppx) {
    .advantages__item--food {
      background-image: url("../images/icon-food-tablet@2x.svg");
      background-size: 768px auto;
    }
  }

  .advantages__item--souvenirs {
    background-image: url("../images/icon-souvenirs-tablet.svg");
    background-position: 98px 64px;
  }

  @media (min-resolution: 2dppx) {
    .advantages__item--souvenirs {
      background-image: url("../images/icon-souvenirs-tablet@2x.svg");
      background-size: 768px auto;
    }
  }

  .advantages__item-wrapper--square {
    padding: 41px 33px 63px;
  }

  .advantages__item-wrapper--road {
    padding: 41px 40px;
  }

  .advantages__item-wrapper--tourists {
    padding: 41px 33px 63px;
  }

  .advantages__title--square-road-tourists {
    margin-bottom: 12px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .advantages__causes-wrapper {
    padding: 59px 358px 44px;
  }

  .advantages__list {
    grid-template-columns: repeat(3, 400px);
  }

  .advantages__item-wrapper {
    width: 400px;
    box-sizing: border-box;
    padding: 52px 60px 51px;
  }

  .advantages__item-wrapper--bridge {
    padding: 52px 90px 51px;
  }

  .advantages__item-wrapper--housing {
    padding: 169px 50px 69px;
  }

  .advantages__item-wrapper--food {
    padding: 166px 50px 71px;
  }

  .advantages__item-wrapper--souvenirs {
    padding: 170px 43px 67px;
  }

  .advantages__item--housing {
    background-image: url("../images/icon-housing-desktop.svg");
    background-position: 159px 69px;
  }

  @media (min-resolution: 2dppx) {
    .advantages__item--housing {
      background-image: url("../images/icon-housing-desktop@2x.svg");
      background-size: 1200px auto;
    }
  }

  .advantages__item--food {
    background-image: url("../images/icon-food-desktop.svg");
    background-position: 162px 72px;
  }

  @media (min-resolution: 2dppx) {
    .advantages__item--food {
      background-image: url("../images/icon-food-desktop@2x.svg");
      background-size: 1200px auto;
    }
  }

  .advantages__item--souvenirs {
    background-image: url("../images/icon-souvenirs-desktop.svg");
    background-position: 159px 69px;
  }

  @media (min-resolution: 2dppx) {
    .advantages__item--souvenirs {
      background-image: url("../images/icon-souvenirs-desktop@2x.svg");
      background-size: 1200px auto;
    }
  }

  .advantages__item-wrapper--square {
    padding: 52px 50px 51px;
  }
}
