.advantages__list {
  @include list-reset;
  position: relative;
}

.advantages-causes__wrapper {
  padding: 32px 18px;
}

.advantages__image {
  display: block;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}

.advantages__description {
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
}

.advantages__item--blue {
  background-color: $blue-color;
}

.advantages__item--pseudo::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 37px;
  left: 0;
  top: 0;
  background-image: url("../images/flag-2.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.advantages__item-wrapper {
  padding: 54px 18px 40px;
}

.advantages__title--white {
  color: $white-color;
  margin-bottom: 11px;
}

.advantages__number--white {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 17px;
}

.advantages__description--white {
  color: $white-color;
}

.advantages__item-wrapper--housing,
.advantages__item-wrapper--food {
  padding: 25px 18px 25px 65px;
}

.advantages__item-wrapper--souvenirs {
  padding: 25px 18px 46px 65px;
}

.advantages__title--left {
  text-align: left;
  margin-bottom: 16px;
}

.advantages__description--left {
  text-align: left;
}

.advantages__item--housing {
  background-image: url("../images/icon-housing.svg");
  background-repeat: no-repeat;
  background-position: 18px 23px;
}

.advantages__item--food {
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-position: 18px 23px;
}

.advantages__item--souvenirs {
  background-image: url("../images/icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 18px 23px;
}

.advantages__item-wrapper--bridge {
  padding: 37px 18px;
}

.advantages__item--dark-white {
  background-color: $dark-white-color;
}

.advantages__item-wrapper--square,
.advantages__item-wrapper--road {
  padding: 24px 18px;
}

.advantages__item-wrapper--tourists {
  padding: 24px 18px 28px;
}

.advantages__title--square-road-tourists {
  margin-bottom: 17px;
}

.advantages__number--grey {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin-bottom: 17px;
}

// tablet
@media (min-width: $tablet-width) {
  br {
    display: none;
  }

  .advantages__item--pseudo::before {
    display: none;
  }

  .advantages-causes__wrapper {
    padding: 47px 124px 55px;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }

  .advantages__item-wrapper {
    width: 256px;
    box-sizing: border-box;
    padding: 52px 33px 31px;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item--blue {
    grid-column: 1/-1;
  }

  .advantages__title--white {
    margin-bottom: 11px;
  }

  .advantages__image {
    // width: 512px;
    flex-grow: 1;
    height: 256px;
  }

  .advantages__item-wrapper--housing,
  .advantages__item-wrapper--food,
  .advantages__item-wrapper--souvenirs {
    padding: 158px 33px 60px;
  }

  .advantages__title--left {
    text-align: center;
  }

  .advantages__description--left {
    text-align: center;
  }

  .advantages__item--housing {
    background-position: 88px 60px;
  }

  .advantages__item--food {
    background-position: 87px 62px;
  }

  .advantages__item--souvenirs {
    background-position: 98px 64px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .advantages-causes__wrapper {
    padding: 59px 358px 44px;
  }

  .advantages__list {
    grid-template-columns: repeat(3, 400px);
  }


  .advantages__item-wrapper {
    width: 400px;
    box-sizing: border-box;
    padding: 52px 50px 51px;
  }

  .advantages__image {
    // width: 800px;
    height: 256px;
  }
}
