.catalog-intro__wrapper {
  padding: 52px 45px 67px;
}

.catalog-intro {
  position: relative;
  min-height: 158px;
  color: #000000;
  background-color: $blue-color;
  background-image: url("../images/catalog-intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.catalog-intro::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../images/catalog-intro-flag-mobile.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

// tablet
@media (min-width: $tablet-width) {
  .catalog-intro__wrapper {
    padding: 95px 155px 117px;
  }

  .catalog-intro {
    background-image: url("../images/intro-background-tablet.jpg");
  }

  .catalog-intro::after {
    background-image: url("../images/intro-flag-tablet.svg");
  }

  .catalog-intro__image {
    width: 457px;
    height: 77px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .catalog-intro__wrapper {
    padding: 78px 370px 90px;
  }

  .catalog-intro {
    background-image: url("../images/intro-background-desktop.jpg");
  }

  .catalog-intro::after {
    background-image: url("../images/intro-flag-desktop.svg");
  }
}
