.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  margin-top: 24px;
  padding: 0 20px 39px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form__fieldset--information {
  padding-bottom: 36px;
}

.form__legend {
  @include title-text ();
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

.form__field-group {
  margin: 0;
}

.form__label {
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
}

.form__label--phone,
.form__label--email {
  display: block;
  position: relative;
  margin-left: 0;
}

.form__coverage {
  margin-left: 16px;
}

.form__label--phone::after,
.form__label--email::after {
  content: "";
  position: absolute;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__label--email::after {
  content: "";
  background-image: url("../images/mail.svg");
}

.form__input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $personal-data-color;
  border: none;
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 16px 16px;
  padding-right: 74px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:not(:placeholder-shown):focus,
  &:active {
    background-color: $white-color;
    outline: 4px solid #e5e5e5;
  }
}

.form__input::placeholder {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.form__input--last {
  margin: 0;
}

.form__fieldset--checkbox br {
  display: block;
}

.form__fieldset--radio,
.form__fieldset--checkbox {
  padding-bottom: 8px;
}

.form__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__label--radio,
.form__label--checkbox {
  position: relative;
  display: block;
  margin-bottom: 16px;
}

.form__mark-radio {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: $personal-data-color;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    background-color: #e5e5e5;
  }
}

.form__radio:focus + .form__mark-radio {
  outline: 2px solid $black-color;
}

.form__radio:checked + .form__mark-radio {
  background-image: url("../images/radio-mark.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:active {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.form__span {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
  padding: 10px 0 10px 10px;
}

.form__mark {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: $personal-data-color;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    background-color: #e5e5e5;
  }
}

.form__checkbox:focus + .form__mark {
  outline: 2px solid $black-color;
  border-radius: 2px;
}

.form__checkbox:checked + .form__mark {
  background-image: url("../images/checkbox-mark.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:active {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.form__fieldset--textarea {
  padding-bottom: 15px;
  border: none;
}

.form__textarea {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $personal-data-color;
  border: none;
  width: 279px;
  box-sizing: border-box;
  min-height: 150px;
  margin-bottom: 56px;
  padding: 16px;
}

.form__textarea::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.form__button-group {
  display: flex;
  flex-direction: column;
}

.form__button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-color: $blue-color;
  border: none;
  width: 280px;
  margin-bottom: 3px;
  padding: 16px 25px;
  box-sizing: border-box;
  cursor: pointer;
}

.form__button:hover {
  background-color: #669ec0;
}

.form__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.form__button:disabled {
  background-color: #e5e5e5;
}

.form__note {
  @include description-text ();
  font-size: 12px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}

// tablet
@media (min-width: $tablet-width) {
  .form {
    position: relative;
    display: grid;
    grid-template-columns: 295px 295px;
    column-gap: 58px;
    justify-content: center;
  }

  .form::before {
    position: absolute;
    top: -5px;
    left: 50%;
    content: "";
    width: 1px;
    height: 338px;
    background-image: url("../images/vertical-line.svg");
    background-repeat: no-repeat;
  }

  .form__fieldset {
    display: block;
    margin: 0;
    margin-bottom: 63px;
    padding: 0;
    border: none;
  }

  .form__legend--information {
    text-align: start;
    padding-left: 10px;
  }

  .form__label--phone,
  .form__label--email {
    margin-left: 0;
  }

  .form__input {
    width: 295px;
  }

  .form__field-group--phone,
  .form__field-group--email {
    display: flex;
    justify-content: flex-end;
  }

  .form__fieldset--radio {
    margin-bottom: 35px;
  }

  .form__fieldset--radio::before {
    position: absolute;
    top: -41px;
    left: 0;
    content: "";
    width: 123px;
    height: 1px;
    background-image: url("../images/horizontal-line.svg");
    background-repeat: no-repeat;
  }

  .form__fieldset--radio::after {
    position: absolute;
    top: -41px;
    right: 0;
    content: "";
    width: 123px;
    height: 1px;
    background-image: url("../images/horizontal-line.svg");
    background-repeat: no-repeat;
  }

  .form__list--radio {
    padding: 0 36px;
  }

  .form__label--radio {
    margin-bottom: 15px;
  }

  .form__label--secondary {
    margin-left: 35px;
  }

  .form__span {
    margin-right: 16px;
    padding: 0 0 0 10px;
  }

  .form__span--secondary {
    margin-right: 0;
  }

  .form__fieldset--checkbox {
    margin-bottom: 30px;
  }

  .form__fieldset--checkbox::before {
    position: absolute;
    top: -54px;
    left: 0;
    content: "";
    width: 123px;
    height: 1px;
    background-image: url("../images/horizontal-line.svg");
    background-repeat: no-repeat;
  }

  .form__fieldset--checkbox::after {
    position: absolute;
    top: -54px;
    right: 0;
    content: "";
    width: 123px;
    height: 1px;
    background-image: url("../images/horizontal-line.svg");
    background-repeat: no-repeat;
  }

  .form__list--checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    padding: 0 84px;
  }

  .form__fieldset--radio,
  .form__fieldset--checkbox,
  .form__fieldset--textarea,
  .form__button-group {
    position: relative;
    grid-column: 1/-1;
  }

  .form__fieldset--textarea::before {
    position: absolute;
    top: -45px;
    left: 0;
    content: "";
    width: 123px;
    height: 1px;
    background-image: url("../images/horizontal-line.svg");
    background-repeat: no-repeat;
  }

  .form__fieldset--textarea::after {
    position: absolute;
    top: -45px;
    right: 0;
    content: "";
    width: 123px;
    height: 1px;
    background-image: url("../images/horizontal-line.svg");
    background-repeat: no-repeat;
  }

  .form__legend {
    font-size: 21px;
    margin-bottom: 28px;
  }

  .form__textarea {
    width: 100%;
    min-height: 160px;
    margin-bottom: 42px;
  }

  .form__button-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .form__button {
    min-width: 324px;
    margin: 0;
    padding: 16px 25px;
  }

  .form__note {
    font-size: 14px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .form {
    display: grid;
    grid-template-columns: 430px 430px;
    column-gap: 100px;
    justify-content: center;
  }

  .form__fieldset {
    display: block;
    padding: 0;
    margin-bottom: 71px;
  }

  .form__legend--information {
    text-align: center;
    padding: 0;
  }

  .form__legend {
    margin-bottom: 30px;
  }

  .form__legend--impression {
    margin-bottom: 45px;
  }

  .form__legend--attractions {
    margin-bottom: 60px;
  }

  .form__input {
    width: 430px;
  }

  .form__span--phone,
  .form__span--email {
    margin-left: 0;
  }

  .form__input--phone,
  .form__input--email {
    width: 430px;
  }

  .form__field-group--phone,
  .form__field-group--email {
    display: block;
  }

  .form__fieldset--radio {
    margin-bottom: 56px;
  }

  .form__fieldset--radio::before,
  .form__fieldset--radio::after {
    top: -59px;
    width: 280px;
    background-image: url("../images/horizontal-line-desktop.svg");
  }

  .form__list--radio {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    column-gap: 28px;
    padding: 0;
    padding-left: 53px;
  }

  .form__label--secondary {
    margin-left: 0;
  }

  .form__span {
    margin-right: 0;
  }

  .form__list--checkbox {
    display: grid;
    grid-template-columns: 173px 170px 153px 184px;
    column-gap: 64px;
    padding: 0 44px;
  }

  .form__span--checkbox {
    padding-right: 0;
  }

  .form__fieldset--radio,
  .form__fieldset--checkbox,
  .form__fieldset--textarea,
  .form__button-group {
    grid-column: 1/-1;
  }

  .form__fieldset--checkbox::before,
  .form__fieldset--checkbox::after {
    top: -86px;
    width: 280px;
    background-image: url("../images/horizontal-line-desktop.svg");
  }

  .form__fieldset--textarea::before,
  .form__fieldset--textarea::after {
    top: -43px;
    width: 280px;
    background-image: url("../images/horizontal-line-desktop.svg");
  }

  .form__fieldset--textarea {
    display: flex;
    margin-bottom: 64px;
  }

  .form__textarea {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .form__button-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
  }

  .form__button {
    width: 384px;
  }
}
