.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 20px 64px;
  border: none;
}

.form__legend {
  @include title-text ();
  margin-bottom: 20px;
  padding: 0;
}

.form__field-group {
  margin: 0;
}

.form__label {
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
  margin-left: 16px;
}

.form__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: $personal-data-color;
  border: none;
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 16px 16px;
}

.form__input--last {
  margin: 0;
}

.form__input--phone {
  background-image: url("../images/phone.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.form__input--email {
  background-image: url("../images/mail.svg");
  background-repeat: no-repeat;
  background-position: right;
}

// .form__button {
//   width: 58px;
//   height: 58px;
//   background-color: $contact-information-color;
//   background-repeat: no-repeat;
//   background-position: center;
//   border: none;
//   padding: 0;
// }
