.form-intro {
  position: relative;
  min-height: 158px;
  color: #000000;
  background-color: $blue-color;
  background-image: url("../images/catalog-intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-intro::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../images/catalog-intro-flag-mobile.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.form-intro__wrapper {
  padding: 52px 45px 67px;
}
