.intro__wrapper {
  padding: 90px 19px 85px;
}

.intro {
  position: relative;
  min-height: 389px;
  color: #000000;
  background-color: $blue-color;
  background-image: url("../images/intro-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../images/intro-flag-mobile.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

// tablet
@media (min-width: $tablet-width) {
  .intro__wrapper {
    padding: 77px 153px 91px;
  }

  .intro {
    background-image: url("../images/intro-background-tablet.jpg");
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: url("../images/intro-background-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .intro::after {
    background-image: url("../images/intro-flag-tablet.svg");
  }

  .intro__image {
    width: 100%;
    height: auto;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .intro__wrapper {
    padding: 78px 370px 90px;
  }

  .intro {
    background-image: url("../images/intro-background-desktop.jpg");
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: url("../images/intro-background-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .intro::after {
    background-image: url("../images/intro-flag-desktop.svg");
  }
}
