.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  width: 185px;
  margin: 0 auto;
}

// .main-header__logo--nojs {
//   z-index: -10;
// }
