.main-footer__hashtag {
  padding: 33px 92px 30px;
}

.main-footer__copyright {
  padding: 0 95px 33px;
}

// tablet
@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__copyright {
    padding: 0;
  }
}
