.main-footer__hashtag {
  padding: 43px 92px 30px;
}

.main-footer__copyright {
  padding: 0 95px 33px;
}

// tablet
@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding: 36px 60px;
    column-gap: 113px;
  }

  .main-footer__hashtag {
    padding: 0;
  }

  .main-footer__copyright {
    padding: 0;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .main-footer__wrapper {

    padding: 36px 120px;
    column-gap: 269px;
  }

  .main-footer__copyright {
    padding-top: 7px;
    padding-left: 2px;
  }
}
