.modal-failure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-failure--close {
  display: none;
}

.modal-failure__container {
  width: 320px;
  box-sizing: border-box;
  background-color: $white-color;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  margin: 0 auto;
  margin-top: 116px;
  padding: 50px 41px 55px;
}

.modal-failure__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

.modal-failure__description {
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
  margin-bottom: 28px;
}

.modal-failure__button-close {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-color: $blue-color;
  border: none;
  min-width: 180px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 15px 14px;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

// tablet
@media (min-width: $tablet-width) {
  .modal-failure__container {
    width: 400px;
    margin-top: 283px;
    padding: 65px 40px 72px;
  }

  .modal-failure__title {
    font-size: 33px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  .modal-failure__description {
    font-size: 15px;
    // // line-height: 45px;
    margin-bottom: 55px;
  }

  .modal-failure__button-close {
    font-size: 21px;
    min-width: 272px;
    padding: 20px 15px 20px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .modal-failure__container {
    margin-top: 244px;
    padding: 48px 46px 49px;
  }
}
