.modal-failure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-failure--close {
  display: none;
}

.modal-failure__container {
  width: 320px;
  box-sizing: border-box;
  background-color: $white-color;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 45px 41px 35px;
}

.modal-failure__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;
}

.modal-failure__description {
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
  margin-bottom: 28px;
}

.modal-failure__button-close {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-color: $blue-color;
  border: none;
  min-width: 180px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 15px 14px;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

// tablet
@media (min-width: $tablet-width) {
  .modal-failure__container {
    width: 400px;
    padding: 50px 46px 49px;
  }

  .modal-failure__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .modal-failure__description {
    margin-bottom: 45px;
  }

  .modal-failure__button-close {
    font-size: 21px;
    min-width: 272px;
    padding: 18px 15px 13px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .modal-failure__container {
    width: 450px;
    padding: 52px 46px 53px;
  }

  .modal-failure__title {
    font-size: 33px;
    line-height: 45px;
    margin-bottom: 25px;
  }

  .modal-failure__description {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
  }

  .modal-failure__button-close {
    font-size: 21px;
    min-width: 300px;
    padding: 20px 15px 18px;
  }
}
