.review-form__wrapper {
  padding: 34px 20px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.review__title {
  @include title-text ();
  margin-bottom: 24px;
}

.review__description {
  @include description-text ();
}

// tablet
@media (min-width: $tablet-width) {
  .review-form__wrapper {
    padding: 64px 166px 108px;
    border: none;
  }

  .review__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .review-form__wrapper {
    padding: 115px 382px 68px;
  }

  .review__title {
    margin-bottom: 30px;
  }
}
