.search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.search::before {
  position: absolute;
  left: 146px;
  bottom: 165px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("../images/map-marker.svg");
  background-repeat: no-repeat;
}

.search br {
  display: none;
}

.search__offers-wrapper {
  padding: 42px 29px 32px;
}

.search iframe {
  display: block;
  border: none;
  width: 100%;
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
}

.search__description {
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
}

.search__link {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background-color: $blue-color;
  margin: 0 18px 49px;
  padding: 16px 49px;
  text-decoration: none;
}

.search__link:hover {
  background-color: #669ec0;
}

.search__link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

// tablet
@media (min-width: $tablet-width) {
  .search::before {
    left: 370px;
    bottom: 155px;
  }

  .search br {
    display: block;
  }

  .search__offers-wrapper {
    padding: 60px 166px 44px;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .search__link {
    min-width: 458px;
    box-sizing: border-box;
    margin: 0 155px 55px;
    padding: 14px 15px 17px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .search::before {
    left: 585px;
    bottom: 160px;
  }

  .search__offers-wrapper {
    padding: 60px 382px 44px;
  }

  .search__link {
    margin: 0 371px 66px;
    padding: 14px 121px 17px;
  }

  .search__title {
    margin-bottom: 35px;
  }
}
