.social__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 27px;
}

.social__item {
  background-color: $blue-color;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: $white-color;
  mask-repeat: no-repeat;
  mask-position: center;

  &:active {
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  mask-image: url("../images/vkontakte.svg");
}

.social__link--telegram {
  mask-image: url("../images/telegram.svg");
}

.social__link--youtube {
  mask-image: url("../images/youtube.svg");
}

// tablet
@media (min-width: $tablet-width) {
  .social__list {
    min-width: 156px;
    margin: 0;
  }
}
