.video__wpapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0;
}

.video__wpapper-text {
  padding-left: 20px;
  padding-right: 20px;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.video__description {
  text-align: center;
  text-transform: uppercase;
  color: $grey-color;
  margin: 0;
  margin-bottom: 38px;
}

.video__image {
  display: block;
}

.video__button {
  position: absolute;
  width: 48px;
  height: 54px;
  left: 130px;
  bottom: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

// tablet
@media (min-width: $tablet-width) {
  .video__wpapper {
    padding: 58px 60px 40px;
  }

  .video__wpapper-text {
    padding: 0;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .video__description {
    padding: 0 100px;
    margin-bottom: 90px;
  }

  .video__image {
    width: 100%;
    height: auto;
  }

  .video__button {
    left: 352px;
    bottom: 265px;
  }
}

// desktop
@media (min-width: $desktop-width) {
  .video__wpapper {
    padding: 66px 200px 84px;
  }

  .video__description {
    margin-bottom: 83px;
    padding: 0 170px;
  }

  .video__image {
    width: 100%;
    height: 500px;
  }

  .video__button {
    left: 570px;
    bottom: 308px;
  }
}
